


body{background-color: tomato;
    height: 100%;
    width: 100%;
    margin:0;
padding: 0;}
nav{
    margin-right: 3%;
    margin-left: 3%;
    border: 2px solid black;
    border-radius: 20px;
    position: fixed;
    justify-content: center;
    padding: 2%;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.911);

    
  
    
}
nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20%;
    
}

nav li{

    padding: 0%;
    padding-top: 3%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline;
    font-size: 100%;
   
    
    
}
nav a{
    color: rgb(255, 145, 0);
    cursor: pointer;
}
nav  a:hover{ 
   color:rgba(255, 0, 0, 0.87);
}
#section_1{ 
    margin: 0;
    height: 400px;
    width: 100%;
    background-image:url(Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
   

}
#section_1 h1{
    font-size: 300%;
    margin: 0px;
}
#section_1 p{
    font-size: 100%;
    margin: 0px;
    color: yellow;
    text-align: center;
    
}
.contenido{
    padding: 1%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:30%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 50px;
}
#section_2{ 
    border: 2px solid brown;
    margin: 0;
    height:200%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.781);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    


}

#section_2 .menu{
   
    display:flex;
    column-gap: 20px;
    width: 100%;
    height: 90%;
    margin: 2%;
    justify-content: center;
}
#section_2 h2{
    color: tomato; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    text-align: center;
    margin: 2%;
}
.menu_pizzas{
    
    background-image: url("menu\ pizzas.jpg");
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}
.menu_pizzas ul{ 
    
    border: 1px  solid ;
    border-radius: 10px;
    border-color: white;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    padding: 5%;
    margin: 2%;
}
.menu_pizzas li {
    color: white;
    
}
.menus_spaghettis{
    width: 50%;
    height: 100%;
    background-image: url("menu\ spaghetti.jpg");
}
.menus_spaghettis ul {
    border: 1px  solid ;
    border-radius: 10px;
    border-color: white;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    padding: 5%;
    margin: 2%;
}
.menus_spaghettis li{
    color: white;
}
#section_3 {
    height: 100%;
   
    padding: 7%;
    padding-right: 5%;
    width: 100%;
    margin: 0;
    background-image: url("domicilio.jpg");
    background-size: cover;
}
.domicilio{
    background-color: rgba(0, 0, 0, 0.733);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.domicilio li{
    color: yellow;
}

#section_4{
    margin: 0;
    padding: 5%;
    background-image: url("contactos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 100%;
}
#nuestros_contactos{
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
   
    display: flex;
    flex-direction: row;
}
.contacts{
    border-radius: 50px;

    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    
}
.contacts h3 {
    text-align: center;
}
.whatsapp{
    display: flex;
    flex-direction: column;
}
.Instagram{
    
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    

    height: 100%;
    width: 100%;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 0;
   
    
    border-top-left-radius:30px ;
    border-top-right-radius: 30px;
    background-color: rgba(218, 39, 39, 0.616);
}

footer p.right{
    font-size: 100%;
    
    margin-left: 3%;
   

}
footer p.left{
    font-size: 100%;
    margin-left: auto;
    margin-right: 3%;


}

@media (max-width: 500px){
    #section_2{
        flex-direction: column;
    }
    .menu{
        align-items: center;
        flex-direction: column;
    }
    .menu_pizzas{
        width: 70%;
    }
    .menus_spaghettis{
        width: 70%;
    }
    body{
        width: auto;
    }
    .contenido{
        font-size: 100%;
        height: 100%;
    }

    #section_1{
        padding-top: 20%;
        padding-bottom: 20%;
        width: 100%;
        height: 100%;
        
    }
    #nuestros_contactos{
        flex-direction: column;
    }

}
